body {
    background-color: #444444;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#displayWrapper{
    display: flex;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    height: 100%;
}
#screenBuffer {
    image-rendering: pixelated;
    visibility: hidden;
    position: absolute;
}
#screen {
    image-rendering: pixelated;
    width: auto;
    height: 100%;
    margin: auto;

}


.controls{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.8);
}

.menu-content{
    background-color: rgb(0,0,0);
    margin: 15% auto;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 2px solid #888;
    width: 25%;
}

.menu-content p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.menu-btn{
    font-size: 1.1rem;
    padding: 12px 34px;
    border-radius: 6px;
    background-color: rgb(19, 119, 21);
    color: #fff;
    margin: 0 auto;
    margin-top: 1rem;
    width: 90%;
    height: 90%;
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
}

.menu-btn:hover{
    background-color: #67824f;
}

/*For the drop-down game selection*/
.game-select{
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.game-select label{
    color: #fff;
    font-size: 1.2rem;
}

select{
    width: 69%;
    height: 69%;
    cursor: pointer;
    font-size: 1rem;
}

/*For uploading a game file from your device*/
.file{
    margin: 20px auto;
    width: 90%;
    height: 90%;
    color: #fff;
}

.file label{
    color: #fff;
    font-size: 1.2rem;
}

/*For choosing two colors*/
.color-picker{
    margin: 20px auto;
    margin-bottom: 30px;
    width: 90%;
    height: 90%;
}

.color-picker label{
    color: #fff;
    font-size: 1.2rem;
}

/*Close button to close the modal*/
.close{
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: green;
    text-decoration: none;
    cursor: pointer;
}
